
    
<link rel="stylesheet" href="~/css/estilo.css" />

<h1>BIENVENIDO AL CAMPO ADMINISTRATIVO</h1>
<br><br>
<h3> Cabrera Deivy</h3>



<br>
     
    <a class="btn btn-primary" href="RegistrarLucha">REGISTRAR UNA LUCHA</a>

<br><br>
      
    <a class="btn btn-primary" href="RegistrarLuchador">REGISTRADOR UN LUCHADOR</a>

<br><br>
       
    <a class="btn btn-primary" href="VerLuchadores">VER LUCHADORES</a>

<br><br>
     
    <a class="btn btn-primary" href="VerLuchas"> VER LUCHAS</a>

</center>
