@model IEnumerable<Peleas.Models.Control>
    
<link rel="stylesheet" href="~/css/estilo.css" />

@foreach (var item in Model) {
    <h1>Hola @Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.Apellidos)</h1>
}

<center>
<br>
@foreach (var item in Model) {        
    <a class="btn btn-primary" href="RegistrarLucha">REGISTRAR UNA LUCHA</a>
}
<br><br>
@foreach (var item in Model) {        
    <a class="btn btn-primary" href="RegistrarLuchador">REGISTRADOR UN LUCHADOR</a>
}
<br><br>
@foreach (var item in Model) {        
    <a class="btn btn-primary" href="VerLuchadores">VER LUCHADORES</a>
}
<br><br>
@foreach (var item in Model) {        
    <a class="btn btn-primary" href="VerLuchas"> VER LUCHAS</a>
}
</center>



