@model Peleas.Models.Luchador
<link rel="stylesheet" href="~/css/estilo.css" />



<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="RegistrarLuchador">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label">NOMBRES: </label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label">APELLIDOS:</label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apodo" class="control-label">APODO: </label>
                <input asp-for="Apodo" class="form-control" />
                <span asp-validation-for="Apodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label">CATEGORIA: </label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diciplina" class="control-label">Diplina: </label>
                <input asp-for="Diciplina" class="form-control"  />
                <span asp-validation-for="Diciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion1" class="control-label">DESCRIPCION 1: </label>
                <input asp-for="Descripcion1" class="form-control" />
                <span asp-validation-for="Descripcion1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion2" class="control-label">DESCRIPCION 2: </label>
                <input asp-for="Descripcion2" class="form-control" />
                <span asp-validation-for="Descripcion2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion3" class="control-label">DESCRIPCION 3: </label>
                <input asp-for="Descripcion3" class="form-control" />
                <span asp-validation-for="Descripcion3" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="REGISTRAR LUCHADOR" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}